<%= component 'ui/heading_with_description', title: 'Template for rapid development with Rails', description: 'This is a template project for Rails application with view_component and Tailwind CSS.' %>

<div class="my-4">
  <%= component 'ui/section_heading', title: 'Overview' %>
  <%= component 'ui/paragraph' do %>
    This template includes the following features:
  <% end %>

  <div class="grid grid-cols-3 gap-4 my-4">
    <%= component 'ui/card' do %>
      <%= component 'ui/card/header', title: 'view_component' %>
      <%= component 'ui/paragraph' do %>
        Component based UI development with view_component gem.
      <% end %>
      <%= component 'ui/paragraph' do %>
        Already included some basic components.
      <% end %>
    <% end %>
    <%= component 'ui/card' do %>
      <%= component 'ui/card/header', title: 'Tailwind CSS' %>
      <%= component 'ui/paragraph' do %>
        Utility-first CSS framework for rapid UI development.
      <% end %>
    <% end %>
  </div>

  <%= component 'ui/section_heading', title: 'view_component' %>
  <div class="grid grid-cols-1 gap-4 my-4">
    <%= component 'ui/card' do %>
      <%= component 'ui/card/header', title: 'view_component' %>
      <%= component 'ui/paragraph' do %>
        This template project is using view_component gem to create reusable components.
      <% end %>
      <%= component 'ui/paragraph' do %>
        You can use the components in your application by including the component in your view file.
        The components are designed to be used with Tailwind CSS.
      <% end %>

      <%= component 'ui/divider' %>

      <%= component 'ui/card/header', title: 'Lookbook' %>
      <%= component 'ui/paragraph' do %>
        This project has component preview feature using lookbook gem.
      <% end %>
      <%= component 'ui/paragraph' do %>
        /dev/lookbook will show you the list of components and their previews.

        <div class="my-2">
          <%= link_to '/dev/lookbook', target: :blank do %>
            <%= component 'ui/button', label: 'Explore Components' %>
          <% end %>
        </div>
      <% end %>

      <%= component 'ui/table' do %>
        <%= component 'ui/table/caption', label: 'Directory structure' %>
        <%= component 'ui/table/thead' do %>
          <%= component 'ui/table/row' do %>
            <%= component('ui/table/th'){ 'Directory' } %>
            <%= component('ui/table/th'){ 'Description' } %>
          <% end %>
        <% end %>
        <%= component 'ui/table/tbody' do %>
          <%= component 'ui/table/row' do %>
            <%= component('ui/table/td'){ 'app/frontend/components' } %>
            <%= component('ui/table/td'){ 'Component implementation and preview logic' } %>
          <% end %>
          <%= component 'ui/table/row' do %>
            <%= component('ui/table/td'){ 'spec/frontend/components' } %>
            <%= component('ui/table/td'){ 'Components view specs' } %>
          <% end %>
          <%= component 'ui/table/row' do %>
            <%= component('ui/table/td'){ 'spec/system/frontend/components' } %>
            <%= component('ui/table/td'){ 'Components preview specs' } %>
          <% end %>
        <% end %>
      <% end %>

    <% end %>
  </div>

  <%= component 'ui/section_heading', title: 'Grid Layout' %>

  <div class="grid grid-cols-1 gap-4 my-4 md:grid-cols-2 lg:grid-cols-3">
    <%= component 'ui/card' do %>
      <%= component 'ui/paragraph' do %>
        This is a first card</p>
      <% end %>
    <% end %>
    <%= component 'ui/card' do %>
      <%= component 'ui/card/header', title: 'Card Header' %>
      <%= component 'ui/paragraph' do %>
        This is a second card
      <% end %>
    <% end %>
    <%= component 'ui/card' do %>
      <%= component 'ui/paragraph' do %>
        This is a third card
      <% end %>
    <% end %>
    <%= component 'ui/card' do %>
      <%= component 'ui/paragraph' do %>
        This is a fourth card
      <% end %>
    <% end %>
  </div>

  <%= component 'ui/section_heading', title: 'Flexbox Layout' %>

  <div class="flex flex-col items-start w-full my-6 space-y-4 md:space-x-4 md:space-y-0 md:flex-row">
    <div class="w-full">
      <%= component 'ui/card' do %>
        <%= component 'ui/card/header', title: 'Card Header' %>
        <%= component 'ui/paragraph' do %>
          This is card content.
        <% end %>
        <%= component 'ui/paragraph' do %>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <% end %>
      <% end %>
    </div>

    <div class="w-full">
      <%= component 'ui/card' do %>
        <%= component 'ui/paragraph' do %>
          Short card content.
        <% end %>
      <% end %>
    </div>
  </div>

  <%= component 'ui/section_heading', title: 'Card with progress' %>

  <div class="grid grid-cols-1 gap-4 my-4 md:grid-cols-2 lg:grid-cols-3">
    <%= component 'ui/card_with_progress', color: 'red', percentage: 30 do %>
      <%= component 'ui/card/header', title: 'Danger' %>
      <%= component 'ui/paragraph' do %>
        This is a card
      <% end %>
    <% end %>
    <%= component 'ui/card_with_progress', color: 'yellow', percentage: 60 do %>
      <%= component 'ui/card/header', title: 'Warning' %>
      <%= component 'ui/paragraph' do %>
        This is a card
      <% end %>
    <% end %>
    <%= component 'ui/card_with_progress', color: 'green', percentage: 90 do %>
      <%= component 'ui/card/header', title: 'Good' %>
      <%= component 'ui/paragraph' do %>
        This is a card
      <% end %>
    <% end %>
  </div>
</div>

