<div class="flex justify-end items-center h-16">
  <%= component 'ui/user_dropdown', avatar_url: 'https://place-hold.it/100x100/', username: 'John Doe' do |profile| %>
    <%= profile.with_dropdown_content do %>
      <%= link_to '#', class: 'block px-4 py-2 text-gray-700 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-600' do %>
        <%= component 'ui/icon_label', icon: 'fa-user', label: 'Profile' %>
      <% end %>
      <%= link_to '#', class: 'block px-4 py-2 text-gray-700 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-600' do %>
        <%= component 'ui/icon_label', icon: 'fa-cog', label: 'Settings' %>
      <% end %>
      <%= link_to '#', class: 'block px-4 py-2 text-gray-700 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-600' do %>
        <%= component 'ui/icon_label', icon: 'fa-sign-out-alt', label: 'Sign out' %>
      <% end %>
    <% end %>
  <% end %>
</div>

