<button type="<%= button_type %>" class="<%= css_classes %>">
  <% if icon %>
    <div class="<%= size_css %>">
      <i class="<%= icon %>"></i>
    </div>
  <% end %>
  <% if label %>
    <span><%= label %></span>
  <% end %>
</button>
